/**
 * This file is part of TKMON
 *
 * TKMON is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TKMON is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TKMON.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author Marius Hein <marius.hein@netways.de>
 * @copyright 2012-2013 NETWAYS GmbH <info@netways.de>
 */


html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#push, #footer {
    height: 50px;
}

#footer {
    border-top: 1px #f5f5f5 solid;
}

#footer .container p {
    line-height: 40px;
    text-align: center;
}

#login-container {
    margin: 0 0 0 0;
    border: 1px #d4d4d4 solid;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-to-right-50 {
    margin-left: 50px;
}

.container-spacer-down {
    margin-top: 20px;
}

.container-spacer-down-2x {
    margin-top: 40px;
}

/** Overriding default formattings **/

/** Links default underline: #2218 **/
#tkmon-main a {
    text-decoration: underline;
}

/** Exclude special bootstrap components **/
#tkmon-main .btn-group a, #tkmon-main .btn a,  #tkmon-main .tabbable a {
    text-decoration: none;
}

/** Settings table **/

table.settings-table {
    border-collapse: collapse;
    border: 1px #c0c0c0 solid;
    min-width: 600px;
}

table.settings-table th, table.settings-table td {
    vertical-align: top;
    padding: 5px;
    border: 1px #c0c0c0 solid;
}

/** TKMON Properties table **/

table.tkmon-properties-table {

}

table.tkmon-properties-table th {
    background-color: #d9edf7;
    border: 1px #c0c0c0 solid;
    padding: 10px;
    text-align: left;
}

table.tkmon-properties-table td {
    background-color: #f1f1f1;
    border: 1px #c0c0c0 solid;
    padding: 10px;
    text-align: left;
}

/** ICINGA STATUS **/

.icinga-status {
    color: white;
    text-align: center;
    width: 70px;
}

.icinga-status-service {

}

.icinga-status-OK {
    background-color: #00CC33;
}

.icinga-status-WARNING {
    background-color: #ffa500;
}

.icinga-status-PENDING {
    background-color: #666;
}

.icinga-status-CRITICAL {
    background-color: #cc0000;
}

.icinga-status-UNKNOWN {
    background-color: #c0c0c0;
}

/** TKMON Data Table **/

table.tkmon-data-table {
    border-collapse: collapse;
    width: 100%;
}

table.tkmon-data-table th {
    background-color: #0088cc;
    color: white;
    font-weight: bold;
}

table.tkmon-data-table th, table.tkmon-data-table td {
    border: 1px #c0c0c0 solid;
}

table.tkmon-data-table td.spacer-column {
    border: none;
    height: 5px;
    line-height: 5px;
}

table.tkmon-data-table td.host-column {
    font-weight: bolder;
}

table.tkmon-data-table td.output-column {
    text-align: right;
}

table.tkmon-data-table td {
    padding: 5px;
}

/** TKMON service typeahead plugin **/

div.tkmon-catalogue-item {
    margin-botton: 2px;
}

div.tkmon-catalogue-item div.item-name {
    font-weight: bolder;
    border-bottom: 1px #c0c0c0 solid;
}

div.tkmon-catalogue-item div.item-description {
    font-size: small;
}

/** Sub frames **/

iframe.iframe-seamless {
    border: none;
    width: 100%;
    height: 100px;
}

/** Refresh timer **/

.jquery-refresh-timer .timer-action {
    margin: 0 0 0 5px;
    cursor: pointer;
}

.jquery-refresh-timer .timer-info {
    margin: 0 5px 0 0;
}

/** Marco styles **/

.link-linkbox-container {
    display: inline;
}

.doc-docbox-container {
    display: inline;
}
