<div id="footer">
    <div class="container">
        <p class="muted">
            <small>
                {{ config['app.version.release'] }} {{ config['app.copyright'] }}
                <a href="http://www.netways.de">NETWAYS</a> and
                <a href="http://www.thomas-krenn.com/">Thomas Krenn</a>
                licensed under <a href="http://www.gnu.org/licenses/gpl.html">terms of GPL</a>.
            </small>
        </p>
    </div>
</div>