<h1>Welcome to {{ app_name }}</h1>

<p>
    The application is password protected. Please
    login to proceed.
</p>

<div style="height: 50px;"></div>

<a href="{{ web_link('System/Login/Index') }}" class="btn btn-primary">Login</a>