<h4>Email</h4>

<p>Control email settings of your TKmon appliance.</p>

<h5>Configuration</h5>
<p>Configure the email sender address and the email relayhost.</p>

<h5>Test</h5>
<p>Send a test email to a email address to verify the setup of your email configuration.</p>
