<p>
    Bitte halten Sie ihr System auf dem laufenden Stand. Dadurch werden Fehler beseitigt und
    Angriffslücken für Hacker vermindert. Regelmäßige Aktualisierung schützt vor Ausfall. Das
    System wird automatisch aktualisiert. Damit dies einwandfrei funktioniert beachten Sie bitte
    die folgenden Hinweise.
</p>

<hr />

<h5>Nur Pakete aus der Linux Distribution</h5>

<p>
    Keine Pakete von Fremdherstellern manuell installieren. Dadurch entstehen Abhängigkeiten
    welche durch keinen Distributionshersteller getestet werden können. Auf lange Sicht sinkt
    die Sicherheit und die Robustheit des Systems.
</p>

<hr />

<h5>Manuelles Ändern der Konfiguration</h5>

<p>
    Bitte vermeiden Sie manuelle Änderungen an der Systemkonfiguration. Die Standardeinstellungen
    der Paketbauer ist meist ausreichend und die Änderungen von neuen Einstelleungen wird so
    an einer Stelle gepflegt ohne das Konflikte entstehen.
</p>

<hr />

<h5>Aktualisierungen können schief gehen</h5>

<p>
    Eine Aktualisierung kann schief gehen. Das ist normalerweise nicht sonderlich schlimm. Das
    Basissystem ist ein Standard Linux System welches mit einem Paketverwaltungssystem ausgestattet.
    Bitte loggen Sie sich auf dem System ein und beheben Sie den Fehler per Hand in dem Sie die
    Upgrade Kommandos ausführen. Bitte führen Sie diesen Schritt überlegt durch und informieren
    Sie sich vorher entsprechend.
</p>

<hr />

<div class="container-spacer-down alert alert-info">
    <h5>Manuelle Änderung im Allgemeinen</h5>
    <p>
        <i class="icon-thumbs-up icon-4x pull-left"></i>
        Manuelle Änderungen stellen kein Problem dar sofern Sie sich mit Ihrem System auskennen und Wartungen
        und ggf. Probleme selbst lösen können. Bitte haben Sie Verständnis das in diesem Fall keine automatischen
        Upgrades durch das Webfrontend funktionieren.
    </p>
    <p>&nbsp;</p>
</div>