<p>
    Installieren Sie regelmäßig die System Updates um Ihr System aktuell zu
    halten. Die System Updates beinhalten Ubuntu Sicherheitsupdates sowie
    Updates von TKmon und Icinga.
</p>

<hr />

<h5>Belassen Sie Konfigurationsdateien unverändert</h5>

<p>
    Vermeiden Sie manuelle Änderungen an den Konfigurationsdateien des Systems.
    Damit gewährleisten Sie die korrekte Funktion von TKmon.
</p>

<hr />

<h5>Wenn ein Update scheitert</h5>

<p>
    In bestimmten Situationen kann ein Update ein manuelles Eingreifen
    erfordern, um erfolgreich durchzulaufen. Dies geschieht zum Beispiel wenn
    eine Konfigurationsdatei manuell verändert wurde. Dem Packaging System
    muss dann mitgeteilt werden, ob der ursprüngliche Inhalt der
    Konfigurationsdatei oder der veränderte Inhalt verwendet werden soll.
    In solchen Fällen müssen Sie das Update manuell auf der Kommandozeile
    durch Ausführen des Kommandos "apt-get dist-upgrade" (z.B. via SSH)
    durchführen. Sie können dann Fragen des Packings Systems interaktiv
    beantworten.
</p>

<hr />

<div class="container-spacer-down alert alert-info">
    <h5>Allgemeine Anmerkungen zu manuellen Änderungen</h5>
    <p>
        <i class="icon-thumbs-up icon-4x pull-left"></i>
        Sie können jederzeit manuelle Änderungen am System vornehmen. In
        diesem Fall gehen wir davon aus, dass Sie mit Linux-Systemen vertraut
        sind und dass Sie Probleme selbst lösen. Wenn Sie zusätzliche
        Software installieren möchten, empfehlen wir ausschließlich Pakete
        des offiziellen Ubuntu-Repositories zu installieren. Wie oben erwähnt
        können Updates über dieses Webinterface fehlschlagen, wenn
        Konfigurationsdateien manuell verändert werden.
    </p>
</div>
