<p>
    To update your system is a important step to keep your system clean and free of bugs. This reduces
    attack facilities for hackers and other evil stuff from the internet. Due to this is a automatic
    operation it is important to consider the following certain things.
</p>

<hr />

<h5>Only distribution packages</h5>

<p>
    Never install any packages from other vendors that Ubuntu. If so, new dependencies were produced
    and no one can guarantee that everything fits together.
</p>

<hr />

<h5>Manual config changes</h5>

<p>
    Avoid manual config changes on the system. Packages have good default settings which maintained
    by package builders. This persons take care of a valid update path for changing configuration
    settings.
</p>

<hr />

<h5>Upgrade may fail</h5>

<p>
    An upgrade may fail under certain conditions. This no a big deal because you're running a generic
    linux system under the hood which comes with a good packaging system. The bad news is that you have
    to fix it manually. Please log in and execute upgrade steps. You will be prompted questions you
    have to answer gradually.
</p>

<hr />

<div class="container-spacer-down alert alert-info">
    <h5>Common words about changes</h5>
    <p>
        <i class="icon-thumbs-up icon-4x pull-left"></i>
        That is no problem to change anything manually on your system. In this case we assume that you are
        familiar with Linux systems and solve any problems yourself. In this case automatic upgrades by the
        web interface are not possible any may fail. We apologize any inconvenience.
    </p>
    <p>&nbsp;</p>
</div>