<h4>Hosts</h4>

<p>Here you list all your monitored hosts, edit them and add new ones.</p>

<h5>List hosts</h5>
<p>Shows all you configured hosts, their number of monitored services and their IP addresses.</p>

<h5>Add new host / Edit host</h5>
<p><b>Hostname</b>: short name to identify the host (cannot be changed after initial creation).</p>
<p><b>Alias</b>: longer name or description of the host (can be changed afterwards).</p>

<h5>IPMI credentials hint</h5>
<p><b>IPMI user</b>: Please provide a user with limited rights for the monitoring purpose in your IPMI configuration.</p>
<p><b>Add user:</b> <a target="_blank" href="https://www.thomas-krenn.com/en/wiki/Setting_IPMI_Monitoring_User">Setting IPMI Monitoring User</a></p>
