<h4>Email</h4>

<p>Verwalten der E-Mail Einstellungen der TKmon Appliance.</p>

<h5>Konfiguration</h5>
<p>Konfiguration der E-Mail Absenderadresse und eines optionalen Weiterleitungs-Host (Relayhost).</p>

<h5>Test</h5>
<p>Senden einer Test E-Mail zur Überprüfung der E-Mail Einstellungen.</p>
