<div class="page-header">
    <h1>Welcome TKMON</h1>
</div>

<h2 class="container-spacer-down-2x">Why</h2>

<p>
    TKMON is a simple webinterface to allow every user monitor its environment simple and easy. You'll no knowledge
    about monitoring software, linux and configuring these components - Just monitor your system!
</p>

<h2 class="container-spacer-down-2x">Thanks</h2>

<p>
    Thanks to all developer bringing us these wonderful technologies like Bootstrap, Twig, beautiful icons and more.
    NETWAYS and Thomas Krenn just uses the best of breed to bring you an incredible user experience.
</p>

<h2 class="container-spacer-down-2x">Why open source</h2>

<p>
    What is Open Source Software?



    Open source software, free software or software libre is software that can be used, copied and distributed
    liberally - modified or unmodified, with or without payment. Free here means freedom of use and this is
    where its greatest benefits lie!
</p>

<h2 class="container-spacer-down-2x">Who we are</h2>

<h4>NETWAYS GmbH</h4>
<p>
    <img class="pull-right media-object" style="border: 1px #c0c0c0 solid;" src="{{ img_path }}/logo-netways.png" />

    For more than 15 years we have been supporting companies to manage complex, multifaceted IT
    infrastructures. Specialising in enterprise grade open source tools, we ensure the smooth
    operation of networks, servers and applications. Each time, we tailor robust,
    cost-effective solutions for our customers of all sizes and industries. At NETWAYS we make
    your IT do more with less.
</p>
<p>
    <a href="http://www.netways.de/" class="btn btn-success">
        <i class="icon-link"></i> Goto NETWAYS
    </a>
</p>

<div class="container-spacer-down-2x"></div>

<h4>Thomas-Krenn.AG</h4>

<p>
    <img class="pull-right media-object" style="border: 1px #c0c0c0 solid;" src="{{ img_path }}/logo-tk.png" />

    At first it was a vision to provide customers with an online shop that focused on simplicity
    and speed not to out perform. In 2002 Online Stores were the exception - the rules were few,
    friendly customer-service and functionality. Our motivation was to design a server shop that
    made it easy for customers to use. Our focus lies on server technology not on production,
    because it isn't about quantity, but rather about offering exclusively high quality products.
    After many years of intensive cooperation with our customers, we have established ourselves in
    the market as a service oriented server specialist and are proud of our large number of customers
    all over Europe. Even though we have grown quickly and sucessfully, we have retained the virtues
    of the early years: the flexibility and individuality of a small business as well as the quality
    and professionalism of a large company. The focus of our work is still on the customer -
    every customer.
</p>
<p>
    <a href="http://www.thomas-krenn.com/" class="btn btn-success">
        <i class="icon-link"></i> Goto Thomas-Krenn
    </a>
</p>