<h4>Backup / Restore</h4>

<p>Sichern und Wiederherstellen der TKmon Konfiguraiton.</p>

<h5>Backup</h5>
<p>Sichert die TKmon Konfiguration. Optional können Sie die Backup Konfigurationsdatei mit einem Passwort schützen.</p>

<h5>Restore</h5>
<p>Wiederherstellung einer TKmon Konfiguration aus einer Backup Datei.</p>
