<h4>Service Status</h4>

<p>Diese Seite zeigt den Status aller überwachten Services.</p>

<h5>Mögliche Service Status</h5>
<p><b>OK</b>: Zustand des Service ist OK.</p>
<p><b>Warning</b>: Der Service befindet sich in einem Warnzustand, ist aber noch verfügbar.</p>
<p><b>Critical</b>: Der Service befindet sich in einem kritischen Zustand.</p>
<p><b>Unknown</b>: Der Zustand des Service ist unbekannt, da abhängige Parent Hosts (z.B. Netzwerkomponenten am Weg zum überwachten Service) nicht verfügbar sind und daher der Service nicht überprüft werden kann.</p>
<p><b>Pending</b>: Der Zustand des Services wurde noch nicht überprüft.</p>
