<div class="page-header">
    <h2>{%  trans "Daemon Status" %}</h2>
</div>

<p>
    {% trans %}
    Take control of icinga daemon and test configuration.
    {% endtrans %}
</p>

<div class="alert alert-info container-spacer-down">
    <h4>Status</h4>
    {% trans %}
    Currently your icinga daemon is
    {% endtrans %}
    : <span data-ajax-call="{{ web_link('StatusLabel') }}"></span>
</div>

<form>

</form>