<h4>Security</h4>

<p>Control security settings of your TKmon appliance.</p>

<h5>User</h5>
<p>Change your TKmon password.</p>

<h5>Icinga access</h5>
<p>Enable or disable the access to the native Icinga web interface.</p>

<h5>SSH access</h5>
<p>Enable or disable SSH access to your TKmon appliance.</p>
