<h4>Welcome</h4>

{%  if user.getAuthenticated() %}
<p>Use the sidebar on the left to navigate through TKmon and check the status of your services.</p>
{% else %}
<p>Please log in to use TKmon.</p>
{% endif %}
