<h4>Welcome</h4>

{%  if user.getAuthenticated() %}
<p>Use sidebar on the left to navigate through TKmon</p>
{% else %}
<p>Please log in to use TKmon completely (See button to your right).</p>
{% endif %}