<div class="page-header">
    <h2>{%  trans "Configuration" %}</h2>
</div>

<p>
    {% trans %}
    Settings from the config.json config file or on startup auto generated settings:
    {% endtrans %}
</p>

<table class="settings-table">
    {% for key,item in settings %}
    <tr>
        <td>{{ key }}</td>
        <td>
            {% autoescape false %}
            {{ item }}
            {% endautoescape %}
        </td>
    </tr>
    {% endfor %}
</table>
