<div class="page-header">
    <h2>Network</h2>
</div>

<p>
{% trans %}
    Change the IP address of this device and configure network related settings.
{% endtrans %}
</p>

<br />

<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab-device" data-toggle="tab">{% trans "Device" %}</a>
        </li>
        <li>
            <a href="#tab-ip" data-toggle="tab">{% trans "Address" %}</a>
        </li>
        <li>
            <a href="#tab-dns" data-toggle="tab">{% trans "DNS" %}</a>
        </li>
        <li>
            <a href="#tab-time" data-toggle="tab">{% trans "Time" %}</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="tab-device">
            {% include "views/System/Configuration/Network/DeviceName.twig" %}
        </div>

        <div class="tab-pane" id="tab-ip">
            {% include "views/System/Configuration/Network/Address.twig" %}
        </div>

        <div class="tab-pane" id="tab-dns">
            {% include "views/System/Configuration/Network/Dns.twig" %}
        </div>

        <div class="tab-pane" id="tab-time">
            {% include "views/System/Configuration/Network/Time.twig" %}
        </div>
    </div>

</div>
