<div class="page-header">
    <h2>Security</h2>
</div>

<p>
    {% trans %}
    This panel is used to change the security settings of your
    TKmon appliance. Please select an appropriate tab to
    change the specific settings.
    {% endtrans %}
</p>

<br />

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-user" data-toggle="tab">{% trans "User" %}</a></li>
        <li><a href="#tab-access-icinga" data-toggle="tab">{% trans "Icinga access" %}</a></li>
        <li><a href="#tab-access-ssh" data-toggle="tab">{% trans "SSH Access" %}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-user">
            {% include "views/System/Configuration/Security/User.twig" %}
        </div>

        <div class="tab-pane" id="tab-access-icinga">
            {% include "views/System/Configuration/Security/IcingaAccess.twig" %}
        </div>

        <div class="tab-pane" id="tab-access-ssh">
            {% include "views/System/Configuration/Security/SshAccess.twig" %}
        </div>
    </div>
</div>
