<h4>Backup / Restore</h4>

<p>Backup and restore your TKmon configuraiton.</p>

<h5>Backup</h5>
<p>Backup your TKmon configuration. Optionally, you can protect your configuration backup file with a password.</p>

<h5>Restore</h5>
<p>Restore a TKmon configuration from a backup file.</p>
