<h4>Network</h4>

<p>Konfiguration der Netzwerk-Einstellungen Ihrer TKmon Appliance.</p>

<h5>Gerät</h5>
<p>Konfiguration des Gerätenamens.</p>

<h5>IP Addresse</h5>
<p>Konfiguration der IP Adresse (statisch oder DHCP).</p>

<h5>DNS</h5>
<p>Konfiguration der DNS Server.</p>

<h5>Zeit</h5>
<p>Konfiguraiton der Zeitserver.</p>
