<h4>Icinga</h4>

<p>Here you can control and review the status of the Icinga monitoring service.</p>

<h5>Interface</h5>
<p>Shows the link to the native Icinga web interface.</p>

<h5>Status</h5>
<p>Views the current status of the Icinga monitoring service.</p>

<h5>Test configuration</h5>
<p>Tests the syntax of the Icinga configuration.</p>

<h5>Log</h5>
<p>Shows the Icinga log.</p>

<h5>Restart Icinga</h5>
<p>Restarts the Icinga monitoring service.</p>
