<h4>Hosts</h4>

<p>Hier finden Sie alle überwachten Hosts, editieren diese und fügen neue Hosts hinzu.</p>

<h5>Hosts auflisten</h5>
<p>Zeigt alle Ihre überwachten Hosts, deren Anzahl an überwachten Diensten und deren IP Adressen.</p>

<h5>Neuen Host hinzufügen / Host editieren</h5>
<p><b>Hostname</b>: Kurzbezeichnung des Hosts (kann anschließend nicht mehr geändert werden).</p>
<p><b>Alias</b>: Längere Bezeichnung oder Beschreibung des Hosts (kann später geändert werden).</p>
