
# TKMON appliance

define host{
        use                     generic-host
        host_name               tkmon
        alias                   tkmon
        address                 127.0.0.1
        hostgroups              tkmon-system
}

define service{
        use                             generic-service
        host_name                       tkmon
        service_description             net-ping
        check_command                   check_ping!20,20%!40,40%
}

define service{
        use                             generic-service
        host_name                       tkmon
        service_description             linux-disc
        check_command                   check_all_disks!20%!10%
}

define service{
        use                             generic-service
        host_name                       tkmon
        service_description             linux-users
        check_command                   check_users!20!50
}

define service{
        use                             generic-service
        host_name                       tkmon
        service_description             linux-processes
        check_command                   check_procs!250!400
}

define service{
        use                             generic-service
        host_name                       tkmon
        service_description             linux-load
        check_command                   check_load!5.0!4.0!3.0!10.0!6.0!4.0
}
