<h4>{% trans "List pending updates" %}</h4>

<p>
    {% trans %}
    The following list shows available updates for your system. Click the
    "Refresh pending updates" button to retrive the current list of available
    updates.
    {% endtrans %}
</p>

<div>
    <button type="button" class="btn btn-primary" id="refresh-pending-updates">
        <i class="icon-refresh"></i> {% trans "Refresh pending updates" %}
    </button>
</div>

<div class="container-spacer-down">

</div>

<div id="pending-updates-target" data-ajax-call="{{ web_link('PendingUpdates') }}" data-ajax-call-insert="true" data-ajax-call-disable-autoload="true">
</div>

<script>
    /*global $: false require:false */
    require(['jquery', 'TKMON/jquery/AjaxContent'], function() {
        "use strict";

        var spinnerLabel = '{% trans "Loading pending upgrades" %}' + '...';

        $('#refresh-pending-updates').click(function() {
            $('#pending-updates-target').html('<i class="icon-spinner icon-spin icon-large"></i> ' + spinnerLabel)
                .Html5AjaxContent();
        });
    });
</script>
