<h4>{% trans "Upgrade" %}</h4>

<div class="container-spacer-down"></div>

<div class="alert alert-danger">
    {% trans %}
    <p>
        This performs a real upgrade of your system. Press the following button to proceed.
    </p>
    <p>
        Please be patient. We update the package cache, make a dry run and do a real upgrade.
    </p>
    {% endtrans %}
</div>

<button type="button" class="btn btn-danger" id="start-real-upgrade">
    <i class="icon-exclamation-sign"></i> {% trans "Yes, upgrade my system" %}
</button>

<div id="message-target" class="container-spacer-down">

</div>

<div id="upgrade-process-target" class="container-spacer-down hidden">
    <div class="progress progress-info" style="margin: 0 20px 0 20px;">
        <div class="bar" style="width: 1px"></div>
    </div>

    <div>
        <dl class="dl-horizontal">
            <dt>Progress</dt>
            <dd><span id="progress-value">0%</span></dd>
            <dt>Runtime</dt>
            <dd><span id="runtime-value">0s</span></dd>
        </dl>
    </div>

    <div>
        <div class="accordion" id="output">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#output" href="#data-info">
                        <strong>{% trans 'Info' %}</strong>
                    </a>
                </div>
                <div id="data-info" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <pre id="info-target">No info</pre>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#output" href="#data-error">
                        <strong>{% trans 'Error' %}</strong>
                    </a>
                </div>
                <div id="data-error" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <pre id="error-target">No error</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="upgrade-output-target" class="container-spacer-down">
</div>

<script>
    require(['jquery', 'bootstrap'], function($) {
        "use strict";

        var upgradeUrl = '{{ web_link('Upgrade') }}';
        var statusUrl = '{{ web_link('UpgradeStatus') }}';
        var startTime = 0;

        var clearProgress = function(show) {
            showProcessFrame(show);
            $('#upgrade-process-target').find('div.progress div.bar').css('width', 0);
            $('#progress-value').html('0%');
            $('#runtime-value').html('0s');
            $('#error-target').html('No errors.');
            $('#info-target').html('No info.');
            $('#message-target').html('');
        };

        var showProcessFrame = function(show) {
            if (show === true) {
                $('#upgrade-process-target').removeClass('hidden');
            } else {
                $('#upgrade-process-target').addClass('hidden');
            }
        };

        var messageBox = function(text, cls) {
            cls = cls || 'success';
            var html = '<div class="alert alert-' + cls + '">' + text + '</div>';
            $('#message-target').html(html);
        };

        var updateProgress = function(r) {
            var percent = r.status.progress;
            $('#upgrade-process-target').find('div.progress div.bar').css('width', String(percent) + '%');
            $('#progress-value').html(percent + '%');
            $('#runtime-value').html(Math.floor(new Date().getTime() / 1000 - startTime).toFixed(2) + 's');
            $('#error-target').html(r.error ? r.error : 'No errors.');
            $('#info-target').html(r.info ? r.info : 'No info.');
        };

        var startUpgrade = function() {
            startTime = Math.floor(new Date().getTime() / 1000);
            $('#start-real-upgrade').addClass('disabled');
            $.ajax(upgradeUrl, {
                type: 'POST',
                data: {
                    doUpgrade: 1
                }
            }).done(function(data, textStatus) {
                //clearProgress(true);
                if (data && data.success === true) {
                    showProcessFrame(true);
                    window.setTimeout(traceStatus, 10);
                } else {
                    if (data.errors[0]) {
                        showProcessFrame(false);
                        var error = data.errors[0].message;

                        if (String(error).match(/^no pending updates/i)) {
                            messageBox('{% trans 'No updates found, everything ok' %}')
                        } else {
                            messageBox(error, 'error');
                        }

                        $('#start-real-upgrade').removeClass('disabled');
                    }
                }
            });
        };

        var stopUpgrade = function() {
            $('#start-real-upgrade').removeClass('disabled');
        };

        var traceStatus = function() {
            var stop = false;

            var trace = function() {
                var r = getStatus();

                if (r !== null) {
                    updateProgress(r);
                }

                if (r === null || r.running === false) {
                    stop = true;
                    stopUpgrade();
                    messageBox('{% trans 'System upgrade was successful.' %}');
                    $('#start-real-upgrade').removeClass('disabled');

                    if (r.status.hasErrors === true) {
                        messageBox('{% trans 'Errors occurred, please examine error panel for more information.' %}', 'error');
                    }
                }

                window.setInterval(function() {
                    if (stop === false) {
                        trace();
                    }
                }, 500);
            };

            trace();
        };

        var getStatus = function() {
            var out = null;
            $.ajax(statusUrl, {
                async: false,
                type: 'GET'
            }).done(function(data) {
                out = data;
            });
            return out;
        };

        $('#start-real-upgrade').click(startUpgrade);
    });
</script>
