{% set link_home = web_link("Index/Index") %}
<div id="login-container">
    <div class="well">
        {% trans %}
        Howdy! This application is protected by password.
        Please proceed by apply your credentials.
        {% endtrans %}
    </div>

    <div id="login-errors"></div>

    <div id="login-success" class="hidden">
        <div class="alert alert-success">
        {% trans %}
        You are logged in successfully. You will be redirected
        after a second. If not, please <a href="{{ link_home }}">
        follow this link to proceed.</a>
        {% endtrans %}
        </div>
    </div>

    <form
            id="login"
            action="{{ web_link("Login") }}"
            data-ajax="form"
            data-ajax-type="form"
            data-form-focus-first="#username"
            data-form-reset="true"
            data-error-target="#login-errors"
            data-success-frame="#login-success"
            data-success-callback="redirectHome"
     >
        <fieldset>
            <label for="username">{% trans "Username" %}</label>
            <input type="text" id="username" name="username" />
            <label for="password">{% trans "Password" %}</label>
            <input type="password" id="password" name="password" />
        </fieldset>

        <button type="submit" class="btn btn-primary">
            <i class="icon-key"></i> {% trans "Login" %}
        </button>
    </form>
</div>

<script>
    var redirectHome = function() {
        setTimeout(function() {
            window.location.href='{{ web_link("Index/Index") }}';
        }, 1000);
    }
</script>