<div id="login-container">
    <div class="well">
        Howdy! This application is protected by password.
        Please proceed by apply your credentials.
        If you do not know your password anymore, please
        <a href="{{ web_link('Reset') }}">follow this link to reset the password</a>.
    </div>

    <div id="login-errors"></div>

    <div id="login-success" class="hidden">
        <div class="alert alert-success">
        You are logged in successfully. You will be redirected
        after a second. If not, please <a href="{{ web_link("Index/Index") }}">
        follow this link to proceed.</a>
        </div>
    </div>

    <form
            id="login"
            action="{{ web_link("Login") }}"
            data-ajax="form"
            data-ajax-type="form"
            data-form-focus-first="#username"
            data-form-reset="true"
            data-error-target="#login-errors"
            data-success-frame="#login-success"
            data-success-callback="redirectHome"
     >
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </fieldset>

        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</div>

<script>
    var redirectHome = function() {
        setTimeout(function() {
            window.location.href='{{ web_link("Index/Index") }}';
        }, 1000);
    }
</script>