<div id="login-container">
    <div class="alert alert-success">
        <p>You are logged out successfully!</p>
    </div>

    <p>
        You can now close the application or press the button
        below to login again
    </p>

    <a href="{{ web_link('System/Login/Index') }}" class="btn btn-primary">
        <i class="icon-key"></i> Login
    </a>
</div>