<h4>Kontakte</h4>

<p>Hier finden Sie alle hinterlegten Kontakte, editieren diese und fügen neue Kontakte hinzu.</p>

<h5>Neuen Kontakt hinzufügen / Kontakt editieren</h5>
<p><b>Name</b>: Name der Kontaktperson.</p>
<p><b>E-Mail Adresse</b>: E-Mail Adresse der Kontaktperson. Service Benachrichtigungen werden an diese E-Mail Adresse gesandt.</p>
<p><b>Telefonnummer</b>: Handynummer der Kontaktperson. Service Benachrichtigungen werden an diese Nummer per SMS gesandt wenn die SMS Benachrichtigungsfunktion aktiviert ist.</p>
