<h4>System updates</h4>

<p>Verwalten der System Updates.</p>

<h5>Informationen</h5>
<p>Zeigt Hintergrundinformationen zu Updates.</p>

<h5>Paketabhängigkeiten überprüfen</h5>
<p>Überprüft Abhängigkeiten und den Zustand des Paketsystems.</p>

<h5>Verfügbare Updates anzeigen</h5>
<p>Zeigt verfügbare Updates.</p>

<h5>Upgrade</h5>
<p>Installiert alle verfügbaren Updates.</p>
