<h4>{% trans "Icinga status" %}</h4>

<div class="alert alert-info container-spacer-down">
    <h4>Status</h4>

    <p class="container-spacer-down">
        {% trans "Currently your Icinga daemon is" %}: <span id="icinga-status-label" data-ajax-call="{{ web_link('StatusLabel') }}"></span>
    </p>

</div>

<p class="container-spacer-down">
    {% trans %}
    Icinga is running if the daemon is available and the status file is up-to-date.
    {% endtrans %}
    <br /><br />
    {% trans %}
    Press the following button to refresh the status:
    {% endtrans %}
    <button type="button" id="icinga-status-refresh" class="btn btn-primary">
        <i class="icon-refresh"></i> {% trans "Refresh" %}
    </button>
</p>

<script>
    /*global $: false require:false */
    require(['jquery', 'TKMON/jquery/AjaxContent'], function() {
        "use strict";
        $('#icinga-status-refresh').click(function() {
            $('#icinga-status-label').Html5AjaxContent("insert");
        });
    });
</script>
