<h2>{% trans "Shut down system" %}</h2>

<div id="reboot-error">

</div>

<form
        id="form-shutdown"
        action="{{ web_link("ApplianceReboot") }}"
        data-ajax="form"
        data-ajax-type="json"
        data-error-target="#reboot-error"
        data-success-callback="reboot_callback"
        >
    <p>
        {% trans %}
        Press the following button to shut down your appliance.
        {% endtrans %}
    </p>

    <input type="hidden" name="shutdown" value="1"/>

    <div class="container-spacer-down" id="reboot-submit">
        <button type="submit" class="btn btn-danger">
            <i class="icon-warning-sign"></i> {% trans "Shut down device!" %}
        </button>
    </div>

    <div id="shutdown-response" class="hidden container-spacer-down">
        <div id="shutdown-response-template" class="hidden alert"></div>
    </div>
</form>

<script>
    (function () {
        "use strict";

        var status = null;

        /**
         * Add a new message to response frame
         * @param {String} content Content in the alert box
         * @param {String} type Class suffix, e.g. success, warning
         */
        var add_response = function (content, type) {
            type = (type) ? 'alert-' + type : 'alert-success';
            var item = $('#shutdown-response-template').clone();
            $(item).removeClass('hidden');
            $(item).addClass(type);
            $(item).append(content);
            $("#shutdown-response").append(item);
        };

        /**
         * Request timer, pings the application the
         * display the status on the page
         */
        var request_timer = function () {
            $.ajax("{{ web_link('System/Ping') }}")
                    .done(function () {
                        if (status && status === 'DOWN') {
                            add_response('System is up again, going home. '
                            + 'If not, <a href="{{ web_link("Index/Index") }}">'
                            + 'click here to do manually</a>.', 'success');
                            status = 'UP';

                            window.setInterval(function () {
                                location.href = "{{ web_link('Index/Index') }}";
                            }, 1000);
                        }
                    })

                    .fail(function () {
                        if (!status) {
                            add_response('System is down', 'warning');
                            status = 'DOWN';
                        }
                    });

            if (!status || status !== 'UP') {
                window.setTimeout(request_timer, 1000);
            }
        }

        /**
         * Reboot callback, called from json form
         */
        var reboot_callback = function () {
            $("#shutdown-response").removeClass("hidden");
            $("#reboot-submit").remove();
            add_response("Poweroff sent, waiting for the system to go down.");
            window.setTimeout(request_timer, 1000);
        };

        // Export
        window.reboot_callback = reboot_callback;
    })();
</script>
