# Define object thomas-krenn-host (host)
define host {
    name                          thomas-krenn-host
    use                           generic-host
    register                      0
    contact_groups                tkmon-system,tkmon-admin
    # Dump custom variables
    _TKMON_CONTACTPERSON          John Doe
    _TKMON_CONTACTEMAIL           John.Doe@example.com
    _TKMON_SENDER                 icinga@localhost.local
    _TKMON_AUTHKEY                0123456789A
    _TKMON_ENABLED_FLAG           0
}