{% set home_link = web_link("Index/Index") %}
<h2>{% trans "Restore configuration" %}</h2>

<div class="alert alert-info container-spacer-down">
    <h4>{% trans "Repair your appliance" %}</h4>
    <p>

    {% trans  %}
    If you have a configuration dump of your appliance you can restore settings, this includes:
    {% endtrans  %}

    </p>

    <ul>
        <li>{% trans "Icinga configuration (hosts, services)" %}</li>
        <li>{% trans "Software settings (database, configuration files)" %}</li>
        <li>{% trans "Operating system (IP, dns, mail)" %}</li>
    </ul>


</div>

<div class="alert alert-danger">
    <h4>{% trans "Warning" %}</h4>
    <p>
        {% trans %}
        After restore, appliance will reboot to complete system changes. Keep in mind that the system is
        not reachable through network (ip changes) and your icinga instance is not able to monitor
        your environment!
        {% endtrans %}
    </p>
</div>

<div id="restore-message-target">

</div>

<form id="restore-configuration">

    <h4>
        {% trans %}
        1. Select a file by clicking on the button
        {% endtrans %}
    </h4>

    <div class="fileupload fileupload-new" data-provides="fileupload">
        <span class="btn btn-file">
            <span class="fileupload-new">{% trans "Select file" %}</span>
            <span class="fileupload-exists">{% trans "Change" %}</span>
            <input id="file" name="file" type="file" />
        </span>
        <span class="fileupload-preview"></span>

        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    </div>

    <h4 class="container-spacer-down-2x">
        {% trans %}
        2. Enter password for file or leave blank
        {% endtrans %}
    </h4>

    <fieldset>
        <label for="password">{% trans "Password" %}</label>
        <input type="text" name="password" id="password" />
    </fieldset>

    <h4 class="container-spacer-down">
        {% trans %}
        3. Think about and commit your action!
        {% endtrans %}
    </h4>

    <button type="submit" class="btn btn-danger">
        <i class="icon-cloud-upload"></i> {% trans "Restore!" %}
    </button>
</form>

<script>
    require(['jquery'], function($) {
        "use strict";

        var form = $('#restore-configuration');
        var messageTarget = $('#restore-message-target');

        /**
         * Finish handler, append messages to stack
         *
         * @param {boolean} success Flag of operational success
         * @param {string} message
         * @param {string} subCls sub bootstrap alert class e.g. info error or success
         */
        var messageHandler = function(success, message, subCls) {
            var ele = document.createElement('div');
            $(ele).addClass('alert');

            if (typeof subCls === 'undefined') {
                if (success === true) {
                    subCls = 'success';
                } else {
                    subCls = 'error';
                }
            }
            $(ele).addClass('alert-' + subCls);

            $(ele).html(message);

            $(messageTarget).append(ele);

            return ele;
        };

        var startHandler = function() {
            $(messageTarget).find('*').remove();
            $(form).addClass('hide');
        };

        var finishHandler = function() {
            $(form).removeClass('hide');
        };

        var rebootStatus = null;

        var rebootCheckInterval = 1000;

        var rebootTimer = function() {
            $.ajax("{{ web_link('System/Ping') }}", {
                success: function() {
                    if (rebootStatus && rebootStatus === 'DOWN') {
                        rebootStatus = 'UP';

                        var link = '{{ home_link }}';
                        var message = '{% trans 'System is up again, redirecting home. If not, please manually go to ' %} ' +
                                '<a href="' + link + '">Index</a>';

                        messageHandler(true, message);

                        window.setInterval(function () {
                            location.href = link;
                        }, 1000);
                    }
                },
                error: function() {
                    if (!rebootStatus) {
                        messageHandler(false, '{% trans "System is down" %}');
                        rebootStatus = 'DOWN';
                    }
                }
            });

            if (!rebootStatus || rebootStatus !== 'UP') {
                window.setTimeout(rebootTimer, rebootCheckInterval);
            }
        };

        var rebootHandler = function() {
            var rebootUrl = '{{ web_link("ApplianceReboot") }}';
            $.ajax(rebootUrl, {
                dataType: 'json',
                data: JSON.stringify({reboot: 1}),
                type: 'POST',
                async: false
            });

            messageHandler(true, '{% trans "System going down" %}', 'info');

            window.setTimeout(rebootTimer, rebootCheckInterval);
        };

        $('#restore-configuration').submit(function(e) {
            e.preventDefault();
            startHandler();
            var restoreUrl = '{{ web_link("System/Configuration/Backup/RestoreConfiguration") }}';
            var password = $(this).find('input#password').val();

            if (password) {
                restoreUrl += '?password=' + encodeURIComponent(password);
            }

            var filesInput = $(this).find('input[type=file]');
            var files = filesInput[0];
            var filesList = files.files;
            var file = filesList[0];

            if (file) {
                var infoElement = messageHandler(true, '{% trans "Upload file:" %}' + '&nbsp;<span>0%</span>');

                var reader = new FileReader();
                reader.readAsBinaryString(file);

                var xhr = new XMLHttpRequest();
                var upload = xhr.upload;

                upload.addEventListener('progress', function(e) {
                    if (e.lengthComputable) {
                        var percentage = Math.round((e.loaded * 100) / e.total);
                        $(infoElement).find('span').html(percentage + '%');
                    }
                });

                upload.addEventListener('load', function(e) {
                    messageHandler(true, '{% trans "Begin configuration restore" %}', 'info');
                });

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === this.DONE) {
                        var response = JSON.parse(xhr.responseText);
                        if (typeof response === "object" && "success" in response) {
                            if (response.success !== true) {
                                var messages = [];
                                $.each(response.errors, function(key, errObj) {
                                    messages.push(errObj.message);
                                });

                                messageHandler(false, messages.join(', '));
                                finishHandler();
                            } else {
                                messageHandler(true, '{% trans "Config restored, initiating reboot. Please be patient for at least 5 minutes" %}', 'info');
                                rebootHandler();
                            }
                        }
                    }
                };

                xhr.open('POST', restoreUrl);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest'); // Add this header because this is an ajax request
                xhr.send(file);
            } else {
                messageHandler(false, '{% trans "File is missing" %}');
                finishHandler();
            }
        })
    });
</script>