<h4>Network</h4>

<p>Configure network settings of your TKmon appliance.</p>

<h5>Device</h5>
<p>Configure the device name.</p>

<h5>Address</h5>
<p>Configure the IP address (static or DHCP).</p>

<h5>DNS</h5>
<p>Configure DNS servers.</p>

<h5>Time</h5>
<p>Configure time servers.</p>
