<h4>Icinga</h4>

<p>Hier steuern Sie den Icinga Monitoring Service und überprüfen dessen Status.</p>

<h5>Interface</h5>
<p>Zeigt den Link zum nativen Icinga Web Interface.</p>

<h5>Status</h5>
<p>Zeigt den aktuellen Status des Icinga Monitoring Service.</p>

<h5>Konfiguration prüfen</h5>
<p>Überprüft die Syntax der Icinga Konfiguration.</p>

<h5>Log</h5>
<p>Zeigt das Icinga Log.</p>

<h5>Icinga Neustart</h5>
<p>Startet den Icinga Monitoring Service neu.</p>
