<h4>Security</h4>

<p>Konfigurieren Sie die Sicherheitseinstellungen Ihrer TKmon Appliance.</p>

<h5>Benutzer</h5>
<p>Ändern Sie Ihr TKmon Passwort.</p>

<h5>Icinga Zugang</h5>
<p>Aktivieren oder Deaktivieren Sie den Zugriff auf das native Icinga Web Interface.</p>

<h5>SSH Zugang</h5>
<p>Aktivieren oder Deaktivieren Sie den SSH Zugang Ihrer TKmon Appliance.</p>
