<h4>Wilkommen</h4>

{%  if user.getAuthenticated() %}
    <p>Benutzen Sie die Navigationsleiste auf der linken Seite, um den Status Ihrer Services zu sehen.</p>
{% else %}
    <p>Bitte loggen Sie sich ein, um TKmon verwenden zu können.</p>
{% endif %}
