<h4>System updates</h4>

<p>Manage system updates.</p>

<h5>Information</h5>
<p>Shows background information about updates.</p>

<h5>Test package dependencies</h5>
<p>Test dependencies to verify the state of the packaging system.</p>

<h5>List pending updates</h5>
<p>List available updates.</p>

<h5>Upgrade</h5>
<p>Upgrades the system.</p>
