<h4>Service status</h4>

<p>This page lists the status of all your montiored services.</p>

<h5>Possible service status</h5>
<p><b>OK</b>: service is OK.</p>
<p><b>Warning</b>: service is in a warning status.</p>
<p><b>Critical</b>: service is in a critical status.</p>
<p><b>Unknown</b>: service status is unknown and cannot be checked because dependents parent hosts are down.</p>
<p><b>Pending</b>: services has not been checked yet.</p>
