<h4>Contacts</h4>

<p>Here you list all your contacts, edit them and add new ones.</p>

<h5>Add new contact / Edit contact</h5>
<p><b>Name</b>: name of the contact person.</p>
<p><b>Email address</b>: email address of the contact. Service alerts will be sent to this email address.</p>
<p><b>Phone number</b>: mobile phone number of the contact. Service alerts will be sent via SMS to this number if the SMS alert feature is activated.</p>
