{% set reboot_link = web_link('System/Configuration/Power/Inde:x#tab-reboot') %}
<h4>{% trans "Device name" %}</h4>

<div id="device-errors">

</div>

<div id="device-success" class="hidden alert alert-success">
    {% trans %}
    The new device name was written to your appliance. You should consider
    to reboot the device. To do so, please <a href="{{ reboot_link }}">
    click on this link</a> and carry out a reboot.
    {% endtrans %}
</div>

<p>
    {% trans %}
    Change your device name here to suite your needs.
    {% endtrans %}
</p>

<p>
    {% trans %}
    <span class="label label-info">Information:</span> A valid
    device name is <strong>&lt;name&gt;.&lt;fqdn&gt;</strong>
    e.g. <strong>icinga.my.company.com</strong>
    {% endtrans %}
</p>

<form
        id="device-form"
        class="container-spacer-down"
        action="{{ web_link("ChangeDeviceName") }}"
        data-ajax="form"
        data-ajax-type="json"
        data-form-focus-first="#device_name"
        data-error-target="#device-errors"
        data-success-frame="#device-success"
        >

    <fieldset>
        <label for="device_name">{% trans "Current device name" %}</label>
        <input type="text" id="device_name" name="device_name" value="{{ device_name }}" />
    </fieldset>

    <input type="submit" class="btn btn-primary" value="{% trans "Update" %}" />

</form>
