<h4>{% trans "Check setup" %}</h4>

<div class="alert alert-info">
    {% trans %}
    Test your Call-Home-Servive setup here. An encrypted heartbeat will be sent to Thomas-Krenn, which is bounced back directly to your configured contact mail address.
    {% endtrans %}
</div>

<div id="alert-test-errors"></div>

<div id="alert-test-success" class="alert alert-success hidden">
    <h4>{% trans "Success" %}</h4>
    <p>
        {% trans %}
        The heartbeat was sent successfully. Please check your email account
        <a href="#" id="test-switch-tab">configured here</a>. If your Call-Home-Service setup is correct, you will receive an email immediately.
        {% endtrans %}
    </p>
</div>

<form
        class="container-spacer-down"
        action="{{ web_link("Test") }}"
        data-ajax="form"
        data-ajax-type="json"
        data-error-target="#alert-test-errors"
        data-success-frame="#alert-test-success"
>

    <button type="submit" class="btn btn-primary">
        <i class="icon-save"></i> {% trans "Test Call-Home-Service" %}
    </button>

    <input type="hidden" name="run" value="1" />
</form>
<script>
    require(['jquery', 'bootstrap'], function() {
        $('#test-switch-tab').click(function() {
            $('#alert-configuration-tabs').find('a[href=#tab-setting]').tab('show');
        });
    });
</script>
